@layer reset, theme, base, utilities, components;

@import './ds/reset.css' layer(reset);
@import './ds/theme.css' layer(theme);
@import './ds/base.css' layer(base);
@import './ds/utilities.css' layer(utilities);
@import './ds/components.css' layer(components);
